*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: whitesmoke;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header h1{
    text-transform: capitalize;
    color: darkcyan;
    margin-top: .2rem;
    font-family: 'Permanent Marker', cursive;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 1rem;
}
header ul li{
    margin-left: 30px;
    padding: 5px 5px 0 5px;
    text-transform: capitalize;
    font-size: 1.5rem;
}
header ul li a{
    color: gray;
}
header ul li a:hover{
    color: #000;
}
header ul li .home{
    color: #000;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 220px;
}
.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    /* background-color: #f3f3f4; */
    background-color: #ffffff;
    color: #0d0c22;
    transition: .3s ease;
}
.input::placeholder {
    color: darkcyan;
}
.input:focus, input:hover {
    outline: none;
    border-color: lightseagreen;
    background-color: #fff;
    /* box-shadow: 0 0 0 4px rgb(234 76 137 / 10%); */
}
.icon {
    position: absolute;
    left: 1rem;
    fill: darkcyan;
    width: 1rem;
    height: 1rem;
}
header .btn{
    background-color: lightseagreen;
    padding: .5rem;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: all .5s ease;
    color: #ffffff;
    margin-top: .8rem;

}
header .btn:hover{
    background-color: whitesmoke;
    color: darkcyan;
}


.side-bar a {
    font-family: 'Raleway', sans-serif;
    color: #89aac3;
    text-decoration: none;
    font-size: 20px;
}
.side-bar a:hover{
    color: lightseagreen;
}
.side-bar {
    z-index: 1000;
    position: absolute;
    top: 300px;
}
.side-bar ul {
    padding: 0px;
    transform: translate(-270px, 0);
}
.side-bar ul li {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1.2s ease;
}
.side-bar ul li a i {
    margin-left: 10px;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 25px;
    transform: rotate(0deg);
    color: lightseagreen;
}
.side-bar ul li:hover {
    transform: translate(110px, 0);
}
.side-bar ul li:hover i {
    /* color: #ffffff; */
    transition: all 1s;
}



.main{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(360deg, darkcyan 0%, #000 90%); */
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    padding: 10%;
}
.main .content{
    width: 80%;
}
.main .head{
    text-transform: capitalize;
    font-size: 5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 5%;
    color: #000;
}
.main p{
    font-size: 20px;
    color: gray;
}
.main .image{
    width: 20%;
}
.main .image img{
    margin: 0 0 30% 50%;
}


.b{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b h1{
    text-transform: capitalize;
    font-size: 35px;
    color: darkcyan;
    text-align: center;
}
.b .categories{
    display: flex;
    flex-direction: row;
}
.b .categories a{
    font-size: 1.5rem;
    margin: 10% 5% 0 0;
    text-transform: capitalize;
    color: #ffffff;
    background-color: lightseagreen;
    padding: 15px;
    border-radius: 50%;
    transition: all .5s ease;
}
.b .categories a:hover{
    color: lightseagreen;
    background-color: #ffffff;
}
.b .books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 0% 0% 12%;
}
.b .books .card{
    width: 150px;
    height: 250px;
    border-radius: 10px;
    margin: 70px;
    display: flex;
    flex-direction: column;
}
.b .books .card h3{
    text-align: center;
    margin-top: 5px;
}
.b .books .card img{
    height: 80%;
    margin-bottom: 5%;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.1rem;
    justify-content: center;
    --stroke: #666;
    --fill: #ffc73a;
}
.rating input {
    appearance: unset;
}
.rating label {
    cursor: pointer;
}
.rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
}
@keyframes idle {
    from {
        stroke-dashoffset: 24;
    }
}
.rating label:hover svg {
    stroke: var(--fill);
}
.rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
}
@keyframes yippee {
0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
    }
30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
    }
30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
    }
60% {
    transform: scale(1.2);
    fill: var(--fill);
    }
}


footer{
    width: 100%;
    color: #fff;
    padding: 100px 0 30px;
    background: linear-gradient(to right, #000, lightseagreen);
    font-size: 13px;
    border-top-left-radius: 125px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;

}
.logofooter{
    text-transform: capitalize;
    color: darkcyan;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}
.col h3{
    /* width: fit-content; */
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    /* width: fit-content; */
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.col a{
    text-decoration: none;
    color: white;
}
footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
footer form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}
footer form .footerinput{
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
}
form input::placeholder{
    color: #ffffff;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}
.social .fa-brands{
    transition: all .2s ease-out;
    color: darkcyan;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: white;
    margin-right: 15px;
    cursor: pointer;
}
.social .fa-brands:hover{
    font-size: 25px;
    /* width: 45px; */
    /* height: 45px; */
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.cr{
    text-align: center;
    text-transform: capitalize;
    color: lightgray;
    font-size: 1.1em;
}
.underl{
    overflow: hidden;
    width: 100%;
    height: 5px;
    background-color: darkcyan;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
}
.underl span{
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
.all{
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    margin-right: 50px;
}
.social1{
    transition: 2s ease;
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb( 32, 32, 32);
    display: flex;
    justify-content: center;
    margin-left: 40px;
    align-items: center;
    transform: rotate(60deg);
    box-shadow: 0px 0px 20px #3b5998
    0px 0px 12x 0px #3b5998;
    border-radius: 10px;
    border: 1px solid #3b5998;
}
.social3{
    transition: .7s ease;
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb( 32, 32, 32);
    display: flex;
    justify-content: center;
    margin-left: 40px;
    align-items: center;
    transform: rotate(60deg);
    box-shadow: 0px 0px 7x 0px #00acee
    0px 0px 12x 0px #00acee;
    border-radius: 10px;
    border: 1px solid #00acee;
}
.social4{
    transition: .7s ease;
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb( 32, 32, 32);
    display: flex;
    justify-content: center;
    margin-left: 40px;
    align-items: center;
    transform: rotate(60deg);
    box-shadow: 0px 0px 7x 0px #ff0000
    0px 0px 12x 0px #ff0000;
    border-radius: 10px;
    border: 1px solid #ff0000;
}
.social2{
    transition: 2s ease;
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: rgb( 32, 32, 32);
    display: flex;
    justify-content: center;
    margin-left: 40px;
    align-items: center;
    transform: rotate(60deg);
    box-shadow: 0px 0px 7x 0px #e1306c
    0px 0px 12x 0px #e1306c;
    border-radius: 10px;
    border: 1px solid #e1306c;
}
.iconnnn1{
    overflow: hidden;
    position: relative;
    transform: rotate(-60deg);
    font-size: 1.3em;
    color: #3b5998;
    z-index: 211;
}
.iconnnn3{
    overflow: hidden;
    position: relative;
    transform: rotate(-60deg);
    font-size: 1.3em;
    color: #00acee;
    z-index: 211;
}
.iconnnn4{
    overflow: hidden;
    position: relative;
    transform: rotate(-60deg);
    font-size: 1.3em;
    color: #ff0000;
    z-index: 211;
}
.iconnnn2{
    position: relative;
    overflow: hidden;
    transform: rotate(-60deg);
    font-size: 1.3em;
    color: #e1306c;
    z-index: 211;
}
.social1::before{
    overflow: hidden;
    content: "";
    position: absolute;
    width: 25px;
    height: 50px;
    background-color: #3b5998;
    animation: animation 4s linear infinite;
}
.social1::after{
    overflow: hidden;
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #000;
    z-index: 0;
    border-radius: 10px;
}
.social1:hover{
    transform: rotate(-310deg);
}
.social3:hover{
    transform: rotate(90deg);
}
.social4:hover{
    font-size: 1.5em;
    border-radius: 50%;
    border: 1px solid #000;
}
.social2:hover{
    transform: rotate(420deg);
}
.social3::before{
    content: "";
    overflow: hidden;
    position: absolute;
    width: 25px;
    height: 50px;
    background-color: #00acee;
    animation: animation 4s linear infinite;
}
.social3::after{
    overflow: hidden;
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #000;
    z-index: 0;
    border-radius: 10px;
}
.social4::before{
    overflow: hidden;
    content: "";
    position: absolute;
    width: 25px;
    height: 50px;
    background-color: #ff0000;
    animation: animation 4s linear infinite;
}
.social4::after{
    overflow: hidden;
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #000;
    z-index: 0;
    border-radius: 10px;
}
.social2::before{
    overflow: hidden;
    content: "";
    position: absolute;
    width: 25px;
    height: 50px;
    background-color: #e1306c;
    animation: animation 4s linear infinite;
}
.social2::after{
    overflow: hidden;
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #000;
    z-index: 0;
    border-radius: 10px;
}
@keyframes animation {
    from{transform:  rotate(0deg);}
    to{transform: rotate(360deg);}
}